/* media */
@media (max-width: 1000px) {
  /* vsl */
  .vsl-section {
    grid-template-columns: 1fr;
  }
  .vsl-text {
    text-align: center;
  }
  .vsl-video {
    height: 300px;
  }
  .title-underline-left::after{
    margin: 1rem auto;
  }
}
@media (max-width: 900px){
      /* mission */
  .mission-section {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  /* portfolio */

  .portfolio-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }
  .portfolio-item.large,
  .portfolio-item.medium,
  .portfolio-item.small {
    grid-column: span 1;
    grid-row: span 1;
  }
  /* contact section */
  .contact-section {
    display: flex;
    flex-direction: column;
  }
}
