/* typography */
body {
  font-family: 'Source Sans Pro', sans-serif;
}
/* hero */
.button {
  font-family: 'Source Sans Pro', sans-serif;
}
.hero-title {
  font-family: 'Montserrat', serif;
  font-weight: 800;
  font-style: italic;
  font-size: 48px;
  font-weight: var(--weight-bold);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.hero-container {
  color: var(--white);
}

/* sections */
.section-title {
  font-family: 'Montserrat', serif;
  font-style: italic;
  font-size: 36px;
  font-weight: var(--weight-regular);
  margin-bottom: var(--spacing-small);
}

.section-subtitle {
  font-size: 20px;
  color: var(--text);
  margin-bottom: var(--spacing-medium);
  font-weight: var(--weight-light);
}
.section-text {
  font-size: 16px;
  color: var(--text);
  line-height: 1.6;
  margin-bottom: var(--spacing-small);
  text-align: justify;
}
/* logo */
.logo {
  font-family: 'Montserrat', serif;
  font-style: italic;
  font-weight: var(--weight-bold);
  font-size: 20px;
  text-decoration: none;
  color: #1178a7;
}

/*icons*/
.contact-icon img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}
.contact-icon.whatsupp {
  background: #25d366;
}
.contact-icon.instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
/* contact */
.contact-card h3 {
  font-family: 'Montserrat', serif;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #222;
}

.contact-card p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 25px;
}
/*mission*/
